doctype html
head
	link(href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet")
	link(href='http://fonts.googleapis.com/css?family=Roboto:400,400italic,700' rel='stylesheet' type='text/css')
	link(href="css/style.css" rel="stylesheet" type="text/css")
html
	body.modal
		header#main-header
			.wrapper
				a(href="/")
					h1#logo
						span(style="color: white;") BYU 
						span(style="color: #3399FF;") Flashcards
				#account
					a.user(href="")
						img(src="https://s3.amazonaws.com/uifaces/faces/twitter/dancounsell/128.jpg")
						span Jim Johnson
					a.logout(href="")
						span Log Out 
						i.fa.fa-sign-out
		section.search-bar
			.wrapper
				table.search-container
					tr
						td.new-deck
							a.blue-btn(href="")
								i.fa.fa-plus
								span  New Deck
						td
							form#search
								//- .course-dd
								//- 	span All Courses
								//- 	i.fa.fa-caret-down
								input(type="search" placeholder="Search for a deck...")
								button.blue-btn(type="submit")
									i.fa.fa-search
		script(src="js/jquery-2.1.1.min.js")
		script(src="js/main.js")