extends index.html
block header
block content 
	section.study(style="min-height: 100vh")
		.wrapper
			header.cf
				.deck-info
					div
						a(href="/deck.html")
							h3 
								i.fa.fa-angle-left
								|  Back to deck
					h2 Midterm 1 Study Guide
			.card-container
				div.meter.cf
					div
					div
					div
					div
					div
					div
					div
					div
					div
					div
				.card.current
					.front
						.content
							div
								p Lorem Ipsum
					.back
						.content
							div
								p Donec id elit non mi porta gravida at eget metus. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Sed posuere consectetur est at lobortis.
				.card
					.front
						.content
							div
								p Sit Amet
					.back
						.content
							div
								p Donec id elit non mi porta gravida at eget metus. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Sed posuere consectetur est at lobortis.
				.card
					.front
						.content
							div
								p Lorem Ipsum
					.back
						.content
							div
								p Donec id elit non mi porta gravida at eget metus. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Sed posuere consectetur est at lobortis.
				.card
					.front
						.content
							div
								p Sit Amet
					.back
						.content
							div
								p Donec id elit non mi porta gravida at eget metus. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Sed posuere consectetur est at lobortis.
				.card
					.front
						.content
							div
								p Lorem Ipsum
					.back
						.content
							div
								p Donec id elit non mi porta gravida at eget metus. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Sed posuere consectetur est at lobortis.
				.card
					.front
						.content
							div
								p Sit Amet
					.back
						.content
							div
								p Donec id elit non mi porta gravida at eget metus. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Sed posuere consectetur est at lobortis.
				.card
					.front
						.content
							div
								p Lorem Ipsum
					.back
						.content
							div
								p Donec id elit non mi porta gravida at eget metus. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Sed posuere consectetur est at lobortis.
				.card
					.front
						.content
							div
								p Sit Amet
					.back
						.content
							div
								p Donec id elit non mi porta gravida at eget metus. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Sed posuere consectetur est at lobortis.
				.card
					.front
						.content
							div
								p Lorem Ipsum
					.back
						.content
							div
								p Donec id elit non mi porta gravida at eget metus. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Sed posuere consectetur est at lobortis.
				.card
					.front
						.content
							div
								p Sit Amet
					.back
						.content
							div
								p Donec id elit non mi porta gravida at eget metus. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Sed posuere consectetur est at lobortis.
				.stats
					.number-correct You got 
						span 
						|  correct.
					.number-incorrect You got 
						span 
						|  wrong.
					.options.group
						.third
							h3.percentage
						.third
							i.fa.fa-refresh
							span Try Again
						.third
							i.fa.fa-chart
							span Review Incorrect
				.button-container.cf
					a.correct-button(href="#" data-status="correct")
						i.fa.fa-check
						span Right
					a.flip-button(href="#")
						i.fa.fa-refresh
						span Flip
					a.incorrect-button(href="#" data-status="incorrect")
						i.fa.fa-close
						span Wrong
				p.swipe-message(style="text-align: center; color: #555; margin-top: 20px;")
					i.fa.fa-arrow-left
					|   Swipe to flip  
					i.fa.fa-arrow-right
block scripts
	script(src="js/jquery-2.1.1.min.js")
	script(src="js/jquery.touchSwipe.min.js")
	script(src="js/flashCards.js")
