doctype html
head
	link(href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet")
	//- link(href='http://fonts.googleapis.com/css?family=Roboto:400,400italic,700' rel='stylesheet' type='text/css')
	link(href="css/style.css" rel="stylesheet" type="text/css")
html
	body.modal
		header#main-header
			.wrapper
				a(href="/")
					h1#logo
						span(style="color: white;") BYU 
						span(style="color: #3399FF;") Flashcards
				#account
					a.user(href="")
						img(src="https://s3.amazonaws.com/uifaces/faces/twitter/dancounsell/128.jpg")
						span Jim Johnson
					a.logout(href="")
						span Log Out 
						i.fa.fa-sign-out
		section.study(style="min-height: 100vh")
			.wrapper
				header.cf
					.deck-info
						div
							a(href="/")
								h3 
									i.fa.fa-angle-left
									|  Back to deck
						h2 Midterm 1 Study Guide
				.card-container
					div.meter.cf
						div
						div
						div
						div
						div
						div
						div
						div
						div
						div
					.card.current
						.front
							.content
								div
									p Lorem Ipsum
						.back
							.content
								div
									p Donec id elit non mi porta gravida at eget metus. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Sed posuere consectetur est at lobortis.
					.card
						.front
							.content
								div
									p Sit Amet
						.back
							.content
								div
									p Donec id elit non mi porta gravida at eget metus. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Sed posuere consectetur est at lobortis.
					.card
						.front
							.content
								div
									p Lorem Ipsum
						.back
							.content
								div
									p Donec id elit non mi porta gravida at eget metus. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Sed posuere consectetur est at lobortis.
					.card
						.front
							.content
								div
									p Sit Amet
						.back
							.content
								div
									p Donec id elit non mi porta gravida at eget metus. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Sed posuere consectetur est at lobortis.
					.card
						.front
							.content
								div
									p Lorem Ipsum
						.back
							.content
								div
									p Donec id elit non mi porta gravida at eget metus. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Sed posuere consectetur est at lobortis.
					.card
						.front
							.content
								div
									p Sit Amet
						.back
							.content
								div
									p Donec id elit non mi porta gravida at eget metus. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Sed posuere consectetur est at lobortis.
					.card
						.front
							.content
								div
									p Lorem Ipsum
						.back
							.content
								div
									p Donec id elit non mi porta gravida at eget metus. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Sed posuere consectetur est at lobortis.
					.card
						.front
							.content
								div
									p Sit Amet
						.back
							.content
								div
									p Donec id elit non mi porta gravida at eget metus. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Sed posuere consectetur est at lobortis.
					.card
						.front
							.content
								div
									p Lorem Ipsum
						.back
							.content
								div
									p Donec id elit non mi porta gravida at eget metus. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Sed posuere consectetur est at lobortis.
					.card
						.front
							.content
								div
									p Sit Amet
						.back
							.content
								div
									p Donec id elit non mi porta gravida at eget metus. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Sed posuere consectetur est at lobortis.
					.stats
						.number-correct You got 
							span 
							|  correct.
						.number-incorrect You got 
							span 
							|  wrong.
						.options.group
							.third
								h3.percentage
							.third
								i.fa.fa-refresh
								span Try Again
							.third
								i.fa.fa-chart
								span Review Incorrect
					.button-container.cf
						a.correct-button(href="#" data-status="correct")
							i.fa.fa-check
							span Right
						a.flip-button(href="#")
							i.fa.fa-refresh
							span Flip
						a.incorrect-button(href="#" data-status="incorrect")
							i.fa.fa-close
							span Wrong
					p.swipe-message(style="text-align: center; color: #555; margin-top: 20px;")
						i.fa.fa-arrow-left
						|   Swipe to flip  
						i.fa.fa-arrow-right
		script(src="js/jquery-2.1.1.min.js")
		script(src="js/jquery.touchSwipe.min.js")
		script(src="js/flashCards.js")
